{% extends 'layout.twig' %}

{% block title %}Chat - User - Profile{% endblock %}

{% block head %}
    {{ parent() }}
    <script src="../../../js/jquery-1.9.1.min.js"></script>
    <script src="../../../js/utils.js"></script>
    <script src="../../../js/mess2.js"></script>
{% endblock %}

{% block content %}

<h1>Chat something</h1>
    <div id="display_name">{{display_name}}</div>
    <div id="chatDiv">

        {% include 'display.twig' with {'display_messages': 'display_messages'} %}

    </div>

    <form id="testForm" action="" method="post">
        {{ form_widget(form) }}
        <input type="submit" name="submit" id="submit"/>
    </form>

{% endblock %}
